<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="NotesContext"
         connectionString="Server=940235c1-e1ae-44ee-918f-a2e0013314c5.sqlserver.sequelizer.com;Database=db940235c1e1ae44ee918fa2e0013314c5;User ID=nnutnahpecenlfyq;Password=NdGLy4QoUzvy3NEznM24Ptbx5YGZ4NVHQieB47mKWJbgM2QDGSsWte7tcjPGuYtf;" />
  </connectionStrings>
</configuration>